body {
    background-color: black;
    mrgin: 0;
    width: 90%;
    clear: both;
}

.header {
    display: inline;
}

#title {
    width: 500px;
    height: 80px;
    font-family: Arial;
    font-size: 50px;
    color: white;
    text-align: left;
    display: inline;
    float: inherit;
}

#logo {
    width:400px;
    height: 80px;
    alignment: right;
    display: inline;
    float: inherit;
}