body {
    background-color: black;
}

#title {
    width: 400px;
    height: 80px;
    font-family: Arial;
    font-size: 50px;
    color: white;
    text-align: left;
}

#logo {
    width:400px;
    height: 80px;
    alignment: right;
}