body {
    font-family: "Times New Roman";
    background-color: silver;
    line-height: 1.5;
    text-align: center;
}

.header {
    display: inline;
}

.header p {
    width: 550px;
    height: 80px;
    font-size: 60px;
    font-weight: bolder;
    text-shadow: black 6px 6px 6px;
    color: white;
    text-align: left;
    display: inline;


}

.header img {
    width:400px;
    height: 80px;
    display: inline;
    float: inherit;
    margin: 2%;
    border-radius: 9px;
    box-shadow: black 5px 5px 5px;

}

.header li {
    display: inline;
}